@{
    ViewData["Title"] = "Home Page";
}

<h1>Design a Configuration Management Solution</h1>

<h2>Objectives</h2>

<ol>
    <li><a href='/Home/Objective1'>Manage configuration sources, including XML, JSON and INI files</a></li>
</ol>