@Model string

@{
    ViewData["Title"] = "Azure Redis Cache";
}

<h4>Azure Redis Cache</h4>

<p>The unique value: @Model</p>

<p>Reference Material: <a href="https://docs.microsoft.com/en-us/aspnet/core/performance/caching/response?view=aspnetcore-2.2">Response Caching</a></p>