@{
    ViewData["Title"] = "No Cache";
}

<h4>Response Cache: No Store</h4>

<p>This should be sufficient enough of an example for now.</p>

<p>Reference Material: <a href="https://docs.microsoft.com/en-us/aspnet/core/performance/caching/response?view=aspnetcore-2.2">Response Caching</a></p>